/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

/* typography */
h1 {
  font-family: "Chonburi", cursive;
}

h2,
h3,
h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

/* BODY GENERAL STYLE */

main {
  margin: 15px;
}

body {
  background-color: #f2efe6;
}
/* nav bar */

li,
a {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: grey;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
}

.logo {
  cursor: pointer;
  margin-right: 5em;
}

.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

.sociallink {
  padding-right: 1em;
  zoom: 2;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.socialig {
  zoom: 2;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.links {
  margin-right: 5em;
}

/* COMMUNITY */

main {
  padding: 5rem;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 20px;
}
/* mission */
.mission h2 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  justify-self: center;
}
.mission img {
  width: 70%;
  margin: auto;
  display: block;
}
.mission {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  margin: 5% auto 15% auto;
}
.mission p {
  grid-row: 4 / span 2;
  grid-column: 1 / span 2;
  z-index: 2;
  text-align: right;
  padding: 5rem;
  margin: -10% -15% auto auto;
  width: 80%;
}
.mission li:nth-child(4) {
  grid-row: 4 / span 2;
  grid-column: 3 / span 2;
  margin-top: -17%;
}

.mission li:nth-child(3) {
  grid-row: 1 / span 3;
  grid-column: 4 / span 2;
  z-index: 2;
  min-width: 120%;
  margin-left: -5%;
  margin-bottom: -10%;
}

/* vision */
.vision img {
  width: 90%;
  margin: auto;
  display: block;
}
.vision {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  padding: 2rem;
  margin: 15% auto 10% auto;
}
.vision h2 {
  grid-row: 1 / span 1;
  grid-column: 4 / span 2;
  align-self: end;
  justify-self: center;
}

.vision p {
  grid-row: 2 / span 1;
  grid-column: 4 / span 2;
  width: 80%;
  margin: auto;
  align-self: center;
  text-justify: center;
}
.vision li:nth-child(3) {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
.vision li:nth-child(4) {
  grid-row: 2 / span 2;
  grid-column: 2 / span 2;
  margin-left: -10%;
  z-index: 2;
  align-self: center;
  min-width: 110%;
}

/* values */
.community h2 {
  text-align: center;
  margin: 3%;
}
.values img {
  width: 70%;
  margin: auto;
  display: block;
  align-self: center;
}
.values {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  margin: 0px auto 150px auto;
}
.values-container p h3 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  margin: auto;
  text-justify: right;
  max-width: 80%;
}

.values-container h3 {
  text-align: right;
  margin: 2rem 0rem 2rem auto;
}
.values-container p {
  text-align: right;
}
.values li {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  align-self: center;
}

/* more info */

.more-info h2 {
  margin: 15% auto 5% auto;
}

/* events slider */
#carousel {
  width: 100%;
  height: 375px;
  background-color: black;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}
.events-slider {
  margin: 15% auto 5% auto;
}

.slide img {
  width: 960px;
  height: 365px;
}
#carousel .slide {
  display: inline-block;
}

/* newsletter */
form {
  font-family: Arial;
  margin-top: 15%;
}

.container-2 {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  width: 500px;
  margin: auto;
  display: block;
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.2);
}
.container-2 h2 {
  text-align: center;
  margin: 10%;
}

input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 9px auto;
  display: inline-block;
  border: 1px solid grey;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

input[type="checkbox"] {
  margin-top: 30px;
}

input[type="submit"] {
  background-color: #9a89fe;
  color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  margin: auto;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

/* footer */
.footer-basic {
  padding: 20px 0;
  background-color: #f2efe6;
  border-top: black 3px solid;
  color: #4b4c4d;
  position: absolute;
  /* bottom: -15em; */
  width: 100%;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}
.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.love {
  text-align: center;
}

footer {
  align-content: center;
}

/* media queries */
/* from big screen + inspect */
/* when it get small, remove margin from the main */

/* smaller 
main - css - margin 

when too small you go to grid
instead of grid-flexbox (wraps around itself)
change classes*/
